html { 
  background: url("../images/yacht2.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 0;

}


body { 
	background: transparent; 
	font-family: 'Righteous';
}


img {

	border: 2px solid white;
}

title {
	font-family: "Righteous";
}


/* Intro Modal *****************************************************************************/


#introModal {
	position: fixed;
	background: url("../images/yacht2.jpg") no-repeat center center fixed;
}

#introModal img{
	width: 25%;
	margin: 0 10px;
}

.modal-content{
	opacity: .8;
	color: #fff;
	font-family: 'Righteous';
	 background-color: black;
}

#modalButtonDiv {
	text-align: center;
}

/* Character Modals *****************************************************************/

.modalImg {
	display: inline-block;
	vertical-align: top;
	width: 25%;
}

.statsDiv {
	text-align: left;
	display: inline-block;
}

.statsDiv p{
	font-size: 20px;
}

.modalSongList {
	width:100%;
    text-align: center;
}


/* Player Select *********************************************************************/

#character-select, #challengers  {
	margin-top: 40px;
}

#character-select img {
	width: 40%;
	margin: 10px 0;
}


/* Opponent Select ******************************************************************/

#challengers{
	right: -10%;
}


#challengers img{
	width: 50%;
	margin: 10px 0;

}

/* Deck - Fight Area ******************************************************************/

#deck {
	margin-top: 40px;

}

#deck img{
	width: 100%;
	float:left;
}

#character-row-1 {
	height: 260px;
}


#playerSide div {
	width: 100%;
}

#playerSide img {
	width: 140%;
}


#challengerSide div {
	left: -30px;
	width: 100%;
}

#challengerSide img {
	
	width: 140%;
}


/* Individual Character Positioning on Challenger Side *********************************/

#challengerSide #hallAndOates {
	left: -27%;
}


/* Text Area ***************************************************************************/

#text-area {
	/*height: 250px;*/
	height: 30%;
	font-size: 16px;

	background-color: white;
	opacity: .7;
	border: 2px solid black;
	border-radius: 5%;
	margin-top: 20px;
}

#text-area p{
	margin-top: 10px;
}

#text-area hr {
	margin: 1px 0;
}


/* Character Portraits ********************************************************************/

.character {
	position: relative;
	

}

.character .name {
	font-size: 12px;
	color: #fff;
	position: absolute;
	top: 15px;
	margin: 0 ;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	
}

.character .hp {
	
	font-size: 12px;
	color: #fff;
	position: absolute;
	top: 35px;
	margin: 5px 0;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

